


/* CSS for user-navbar */
.primary-color{
	background-color: #daf5da !important;
}
.navbar-fonts{
	font-size : 1em;
	font-family : Lucida Handwriting;
	font-weight: bold;
}

.nav-item a:hover{
	margin-top : -3px;
	color : green;
	
}

/* CSS for user-dashboard */

.logoutbutton a {
	text-decoration: none;
	font-size: 1.3em;
	font-family: monospace;
	font-weight: bold;
	margin-bottom: 2px;
	color: green;
}

.logoutbutton {
	height: 40px;
}

.logoutbutton:hover a {
	color: white;
}


/* CSS for sidebar */
.sidebar{
	width: 16%;
	background: #3c3c3c;
	position: fixed;
	height: 100%;
	padding-top: 50px;
	margin-top: -25px;
}

.sidebar a{
	display: block;
	width: 100%;
	padding: 10px 40px;
	text-decoration: none;
	color:white;	
}

.sidebar a:hover{
	background:  #f0fbf0;
	color: green;	
}

.sidebar .divider{
	height: .5px;
	width: 100%;
	background: white;
	margin-top: 10px;
}

.active{
	background:  #daf5da;
	color: green !important;
}

/* CSS for content */

.content{
	margin-left: 18%;	
	margin-top: 5em;
	
}


/* CSS for add-contact  */
.card-body{
	background-color: #f9faff;
	border: 3px solid green;
	/* border-radius: 20px; */
}


/* CSS for Show-contacts */

.my_profile_picture{
height: 40px;
width: 40px;
object-fit:cover;
border-radius: 50%;
border : 2px solid black;
margin-right: 10px;	
}


.view_contact_profile{
	text-decoration: none;
	font-size: 1.1em;
	font-weight: bold;
	color: green;
}

.view_contact_profile:hover{
	color: white;
}

.view_contact_profile_button:hover a{
	color: white;
}

.gradient-custom {
/* fallback for old browsers */
background: #f6d365;

/* Chrome 10-25, Safari 5.1-6 */
background: -webkit-linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1));

/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background: linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1))
}


/* Css for Search */
.search-container{
	position: relative;
}

.search-result{
	position: absolute;
	background: white;
	width: 100%;
	padding: 10px;
	border: 1px solid black;
	display: none;
}
