<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="layout(content)">
<head>
	<meta charset="UTF-8" />
	<title th:text="${title}"></title>
	
	<!-- Link for custom css -->
	<link rel="stylesheet" th:href="@{/css/style.css}" />
	
	
	<!-- Link for custom JavaScript -->
	<script type="text/javascript" th:src="@{/js/jquery.js}"></script>
	
	
	<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
	crossorigin="anonymous">
	
</head>
<body>
	
	       <!-- Start Header -->

<nav class="navbar navbar-expand-lg primary-color ">
	
	<a class="navbar-brand ms-4" href="/" style="font-family: URW Chancery L , cursive;">Smart Contact Center</a>
	
  <div class="container-fluid navbar">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto me-5 mb-2 mb-lg-0 text-uppercase navbar-fonts">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="signup">SignUp</a>
        </li>
      </ul>
    </div>
  </div>
  
</nav>


		<!-- End Header -->

	
	<!-- Main Content Start -->
	
	<div th:replace="${content}"></div>
	
	<!-- Main Content End -->
	
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
	
</body>
</html>