<!doctype html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>Document</title>
</head>
<body>
	<section>
		
		<div class="container">
			<div class="row">
				<div class="col-md-6 offset-md-3 ">
				
					<div class="my-card">					
	
						<h1 class="text-center" style="font-family: Garamond;">Forgot Password Form</h1>
						
						
							<form  id="login-form" class="form" th:action="@{/change_password}" action="#" method="post"> 
					
							
			  					<!-- Password -->	
								<div class="form-data mt-3">
			   						 <label for="password" class="form-label">New Password :</label>
			  						 <input 
			  						 	type="password" 
			  						 	name="password" 
			  						 	class="form-control" 
			  						 	id="password" 
			  						 	placeholder="Enter new password" required>	  						 	
			  					</div>
							
							
								<!-- Confirm Password -->	
								<div class="form-data mt-3">
			   						 <label for="cPassword" class="form-label">Confirm Password :</label>
			  						 <input 
			  						 	type="password" 
			  						 	name="confirmPassword" 
			  						 	class="form-control" 
			  						 	id="cPassword" 
			  						 	placeholder="Enter confirm password" required>	  						 	
			  					</div>
								
			  					
										
			  					<!-- Submit Button -->
			  					<div class="text-center submit_button">
				  					<button type="submit"class="btn btn-outline-success mt-3 ">Change Password</button>
				  				</div>
			  					
			  					
							</form>
							
						</div>
					</div>
				</div>
			</div>
			
	</section>
</body>
</html>