<!doctype html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>Document</title>
</head>
<body>
	<section>
		
		<div class="container">
			<div class="row">
				<div class="col-md-6 offset-md-3 ">
				
					<div class="my-card">					
	
						<h1 class="text-center" style="font-family: Garamond;">OTP Form</h1>
						
						
							<form  id="login-form" class="form" th:action="@{/verify-otp}" action="#" method="post"> 
					
							
			  					<!-- Email -->	
								<div class="form-data mt-3">
			   						 <label for="email" class="form-label">OTP :</label>
			  						 <input 
			  						 	type="text" 
			  						 	name="otp" 
			  						 	class="form-control" 
			  						 	id="otp" 
			  						 	placeholder="Enter otp here" required>	  						 	
			  					</div>
							
								
			  					
										
			  					<!-- Submit Button -->
			  					<div class="text-center submit_button">
				  					<button type="submit" class="btn btn-outline-success mt-3 ">Verify</button>
				  				</div>
				  				
							</form>
							
						</div>
					</div>
				</div>
			</div>
			
	</section>
</body>
</html>